#images-container{
	margin: auto;
	min-width: 50%;
	width: fit-content;
	margin-top: 2%;
}
#images-container #plus-div {
    height: 100px;
    cursor:pointer;
    width: 100px;
    background-color: #D0D0D0;
    color: white;
    font-size: 80px;
    position: relative;
    top: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: -14px;
    border-radius: 17px;
    box-shadow: 0 0 9px 0px #a5a5a570;


}

#images-container #plus-div:hover {
	opacity: 0.8;
}
#images-container #plus-div label:hover {
	opacity: 0.8;
	cursor:pointer;
}

#images-container h3{
    font-weight: 600;
    font-size: 24px;
    position: relative;
    top: 41px;
}







#title-container{
	margin: auto;
	min-width: 73%;
	width: fit-content;
	margin-top: 10%;
}
#title-container #plus-div {
    height: 100px;
    width: 100px;
    background-color: #D0D0D0;
    color: white;
    font-size: 80px;
    position: relative;
    top: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: -14px;
    border-radius: 17px;
    box-shadow: 0 0 9px 0px #a5a5a570;


}

#title-container h3{
    font-weight: 600;
    font-size: 24px;
    position: relative;
    top: 41px;
}

#title-container input{
    width: 300px;
    font-size: 22px;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    font-family: 'poppins', sans-serif;
    padding: 9px;
    border: none;
    border-radius: 13px;
    box-shadow: 0 0 15px -4px #00000047;
    outline: none;
    text-align:center;
}

#title-container input::placeholder{
	color: #C5C5C5;
}



#desc-container{
	margin: auto;
	min-width: 98%;
	width: fit-content;
	margin-top: 10%;
}
#desc-container #plus-div {
    height: 100px;
    width: 100px;
    background-color: #D0D0D0;
    color: white;
    font-size: 80px;
    position: relative;
    top: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: -14px;
    border-radius: 17px;
    box-shadow: 0 0 9px 0px #a5a5a570;


}

#desc-container h3{
    font-weight: 600;
    font-size: 24px;
    position: relative;
    top: 41px;
}

#desc-container textarea{
    width: 356px;
    height: 130px;
    font-size: 22px;
    position: relative;
    left: 53%;
    transform: translateX(-50%);
    font-family: 'Poppins', sans-serif;
    padding: 9px;
    border: none;
    border-radius: 13px;
    box-shadow: 0 0 15px -4px #00000047;
    outline: none;
    padding-top: 17px;
    resize: none;
}

#desc-container textarea::placeholder{
	color: #C5C5C5;
}






#used-container{
left: 33%;
    position: relative;
    zoom: 141%;
    font-size: 18px;
}
#new-container {
    left: 43%;
    position: relative;
    zoom: 141%;
    font-size: 18px;
}

#price-container input{
	 width: 300px;
    font-size: 22px;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    font-family: 'poppins', sans-serif;
    padding: 9px;
    border: none;
    border-radius: 13px;
    box-shadow: 0 0 15px -4px #00000047;
    outline: none;
    text-align:center;
}

#publish-btn {
	background-color: #EF8354;
	color: white;
	width: 130px;
	height: 35px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center; 
	border-radius: 10px;	
	cursor: pointer;
	margin: auto;
    box-shadow: 0 0 20px #ef8354;
}

#publish-btn:hover {
	background-color: #f09a75
}

.thumbnail {
	height: 100px;
}
#result {
	display: flex;
}

#clear-btn {
    background-color: #EF8354;
    color: white;
    width: 130px;
    height: 35px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* position: absolute; */
    cursor: pointer;
    /* left: 43%;
    top: 45%; */

}
#clear-btn:hover {
	background-color: #f09a75;
}

#category-label {
    font-size: 23px;
    font-weight: 600;
    width: fit-content;
}

#category {
        margin-left: 220px;
    margin-top: 6px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    border-radius: 11px;
    z-index: 1000000;
    padding: 7px;
    border: #EF8354 1px solid;
    outline: none;
}



@media only screen and (max-width:1260px){
    #title-container h3 {
        left: -200px;
    }
    #images-container h3 {
            left: -200px;
    }
}

@media only screen and (max-width:830px){
        #images-container h3 {
            left: -120px;
    }

    #category {
        margin-left: 120px;
    }

    #desc-container h3 {
            left: -181px;
    }

    
}

@media only screen and (max-width:739px){
    #images-container h3 {
        display: none;
    }
}