*{
	margin: 0;
	padding: 0;
	transition: 0.2s;
}

body {
	background-color: #f5f5f5;
	font-family: 'Poppins', sans-serif;
}

.navbar{
	background-color: #2D3142;
	height: 70px;
	width: 100%;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
.navbar-links {
	text-decoration: none;
	color: white;
	font-weight: regular;
	position: relative;
	margin:8%;

}
.navbar-links:hover{
	opacity: 0.8
	/* filter: brightness(1.15); */
}

.new-listing-btn{
	background-color: #EF8354;
	color: white;
	width: 130px;
	height: 35px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center; 
	border-radius: 10px;	
	cursor: pointer;
	position: absolute;
	right: 10%;

}
.new-listing-btn:hover {
	background-color: #f09a75;
	/* filter: brightness(1.15); */
}

.new-listing-btn span {
	margin-left: 5px;
}

#pfp {
	height: 40px;
	position: absolute;
	right: 5%;
	cursor: pointer;
	transition: 0.3s;
}
#pfp:hover {
	opacity:0.8;
}


.search-bar{
	width: 40%;
	height: 50px;
	background-color: #4F5D75;
	margin: auto;
	position: relative;
	top: 30px;
	border-radius: 20px;
	box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.25);

}
.search-bar input {
	width: 90%;
    margin-left: 14px;
    background-color: #4C5970;
    outline: none;
    border: none;
    font-size: 21px;
    color: white;
}
	
	

.search-bar input::placeholder{
	color: white;
	opacity: 0.71;
	font-weight: regular;
	font-family: "Poppins", sans-serif;
}


.search-bar #search-btn{
	background-color: #EF8354;
	width: 55px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.25);
	border-radius: 14px;
	color: white;
	font-size: 23px;
	cursor: pointer;
	position:absolute;
	top: 5px;
	right: 5px;

}
.search-bar #search-btn:hover{
	background-color: #f09a75;
}


.component-selection{
	width: 100%;
	height: 80%;
	position: absolute;
	bottom: 0px;
}
.component-selection p{
	font-weight: regular;
	font-size:25px;
	position: relative;
	top: 10px;
	text-align: center;
	

}


#component-list{
	display: grid;
	width: 50%;
	margin: auto;
	margin-top: 100px;
	grid-template-columns: auto auto;
	gap: 30px;
	

}

.component {
	background-color: white;
	width: 100%;
	min-width: 334px;
	height: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.15);
	cursor: pointer;
}
.component span{ 
	position: absolute;
}
.component:hover{
	/* background-color: rgb(219, 219, 219); */

	background-color: rgb(236, 236, 236);

	transform: scale(1.1)
}

.component .icon {
	width: 30px;
	height:30px;
	border-radius: 11px;
	background-color: red;
	margin-right: auto;
	margin-left: 13px;
}


.item{
	width: fit-content;
	height:fit-content;
	background-color:white;
	padding: 13px;
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.09);
	-webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.09);
	-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.09);
	border-radius: 10%;
}
.item img{
	height: 150px;
	border-radius: 7%;
}
.item #price{
	color: #EF8354;
}
.item:hover{
	cursor: pointer;
	transform: scale(1.1);
	opacity: 0.9
}


#search-results-grid{
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 20px;
	width: 70%;
	height: 80%;
	place-items: center;
	margin: auto
}


#user-opts {
    width: 200px;
    height: 285px;
    background-color: white;
    position: absolute;
    top: 7%;
    right: 0.6%;
    border-radius: 12px;
    box-shadow: 0 0 9px 0px #00000040;
    z-index: 10000;
    animation: user-opts-animation 0.2s;
}


#user-opts .options{
    width: 200px;
    height: 40px;
    position: relative;
    top: -7%;
    margin: auto;
    margin-top: 48px;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
#user-opts .options:hover{
	/* background-color: #4f5d751c; */
	opacity: 0.6;
}

 
#user-opts .options i {
    color: #EF8354;
    position: absolute;
    left: 18px;
    top: 6px;
}


#user-name {
    font-weight: 300;
    width: 200px;
    height: 40px;
    position: absolute;
    top: 72%;
    margin: auto;
    margin-top: 48px;
    font-size: 17px;
    text-align: center;
    color: #4f5d75;
}


#search-res {
    width: 100vw;
    height: 77vh;
    position: absolute;
    top: 238px;
    bottom: 27px;
    display:grid;
    padding-left: 30px;
    padding-right: 30px;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    /* gap: 20px; */


}
#search-res > *:not(:last-child) {
    display: block;
    margin-right: 100px; 
} 
/* #search-res > * {
	margin-left: 20px;
}
#search-res > *:first-child {
	margin-left: 0;
} */

.item-listing {
	width: fit-content;
	height:fit-content;
	max-width: 250px;
	min-width: 229px;
	max-height: 300px;
	background-color:white;
	padding: 13px;
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.09);
	-webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.09);
	-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.09);
	border-radius: 10%;
	overflow: clip;
	cursor: pointer;
}
.item-listing img {
	height: 176px;
	border-radius: 20px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.item-listing h3 {
	font-weight: 500;
	font-size: 23px;
	text-align: center;
}

.item-listing p { /*price*/
	font-weight: 600;
	font-size: 23px;
	text-align: center;
	/* color: #EF8354; */
	color: white;
	/* background: #00a00d; */
	background: #EF8354;
	padding: 1px;
	border-radius: 10px;
	width: 50%;
	margin: auto;
}
.item-listing:hover {
	transform: scale(1.03);
	opacity: 0.9;
}

@keyframes user-opts-animation {
	from { transform: scale(0.4);opacity: 0.4}
	to { transform: scale(1); opacity: 1; }
}