#target-pfp {
height: 100px;
    position: absolute;
    left: 32%;
    top: 13%;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

#target-name {
font-size: 45px;
    font-weight: 400;
    position: absolute;
    top: 14%;
    left: 41%;

}

.fa-phone-alt {
    color: #FF9A02;
    font-size: 25px;
    position: absolute;
    top: 23.4%;
    left: 40.5%;
}

#phone {
    font-size: 26px;
    position: absolute;
    top: 22.5%;
    left: 43.4%;
    color: #656565;
}

hr {
    margin-top: 210px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #C4C4C4;
    background: #C4C4C4;
    border-radius: 24px;
}
h2 {
font-size: 45px;
    margin-left: 92px;
    font-weight: 500;
    margin-top: 21px;
}

#search-res {
    width:92%!important;
    height: fit-content !important;
    position: absolute;
    top: 414px !important;
    bottom: 27px;
    display:grid;
    padding-left: 30px;
    padding-right: 30px;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    /* gap: 20px; */


}
#search-res > *:not(:last-child) {
    display: block;
    margin-right: 100px; 
} 
/* #search-res > * {
	margin-left: 20px;
}
#search-res > *:first-child {
	margin-left: 0;
} */

.item-listing {
	width: fit-content;
	height:fit-content;
	max-width: 250px;
	min-width: 229px;
	max-height: 300px;
	background-color:white;
	padding: 13px;
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.09);
	-webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.09);
	-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.09);
	border-radius: 10%;
	overflow: clip;
	cursor: pointer;
}
.item-listing img {
	height: 176px;
	border-radius: 20px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.item-listing h3 {
	font-weight: 500;
	font-size: 23px;
	text-align: center;
}

.item-listing p { /*price*/
	font-weight: 600;
	font-size: 23px;
	text-align: center;
	/* color: #EF8354; */
	color: white;
	/* background: #00a00d; */
	background: #EF8354;
	padding: 1px;
	border-radius: 10px;
	width: fit-content;
	margin: auto;
	padding: 0 10px 0 10px;
}
.item-listing:hover {
	transform: scale(1.03);
	opacity: 0.9;
}

#message-btn {
	width: 147px;
    background: #EF8354;
    color: white;
    font-size: 25px;
    padding: 16px;
    border-radius: 21px;
    position: absolute;
    left: 70%;
    top: 163px;
    box-shadow: 0 0 20px #ef8354;
    transition: 0.3;
    cursor: pointer;
}
#message-btn:hover {
	opacity: 0.8;
}


.change-pfp {
    opacity: 0.7;
}
.change-pfp:hover {
    cursor: pointer;

}
.fa-camera {
    position: absolute;
    left: 34.3%;
    top: 16.2%;
    font-size: 33px;
    color: #5c5c5c;
    cursor: pointer;
}
.fa-camera:hover {
    opacity: 0.5;
}

/* .change-pfp::after{
    content: "Change profile picture";
    position: absolute;
    left: 0;
} */