{%extends "base.html"%}


  {%block head%}    
  <link rel="stylesheet" href="/static/css/index.css" /> 
  <script src="static/js/index.js"></script>
  {%endblock%}
  {%block title%} Home {%endblock%}
   

  {%block navbar%} 
    {%if not logged%}
           <!-- <img src="/static/logo.png" id="logo"> -->
      <img src="/static/logo.png" onclick="window.location.pathname = '/'" id="logo">
          <a href="/" class="navbar-links">Home</a>
          <a onclick="ShowLogin()"class="navbar-links">Login</a>
          <div class="new-listing-btn" onclick="ShowAuth()"><i class="fas fa-user-plus"></i><span>Sign up</span></div>
          {%else%}
                <!-- <img src="/static/logo.png" id="logo"> -->
      <img src="/static/logo.png" onclick="window.location.pathname = '/'" id="logo">
           <a href="/" class="navbar-links">Home</a>
      <a href="/chats" class="navbar-links">Chats</a>
      <a href="/favorites" class="navbar-links">Favorites</a>
      <div class="new-listing-btn" onclick="window.location.href = '/new-listing'"><i class="fas fa-plus-circle"></i><span>New Listing</span></div>
      <!-- <img onclick="$('#user-opts').toggle()"id="pfp" src="https://api-private.atlassian.com/users/aa7543e682dff486562017fe2fedc6c0/avatar">  -->
             <img  onclick="$('#user-opts').toggle()" id="pfp" src="/static/pfps/{{username}}.jpg?r={{r}}" onerror="if (this.src != 'https://api-private.atlassian.com/users/aa7543e682dff486562017fe2fedc6c0/avatar') this.src = 'https://api-private.atlassian.com/users/aa7543e682dff486562017fe2fedc6c0/avatar';">
      <div id="user-opts" style="display:none">
        <h3 id="user-name">Logged as {{username}}</h3>
        <div class="options" onclick="window.location.href = '/user/{{username}}'"><i class="fas fa-user-circle"></i> Profile</div>
        <div class="options"><i class="fas fa-cog"></i> Settings</div>
        <div class="options"  onclick="window.location.href = '/logout'"><i class="fas fa-sign-out-alt"></i> <span style="color: #FF6868;">Log out</span></div>
      </div>

      {%endif%}

      
      <i class="fas fa-bars" style="display: none;" onclick="BringUpMobileNavBar()"></i>

      {%endblock%}
      {%block content%}
      <div id="mobile-nav">
{%if not logged%}
         <!-- <img src="/static/logo.png" id="logo"> -->
    <img src="/static/logo.png" onclick="window.location.pathname = '/'" id="logo">
        <a href="/" class="navbar-links">Home</a>
        <a onclick="ShowLogin()"class="navbar-links">Login</a>
        <div class="new-listing-btn" onclick="ShowAuth()"><i class="fas fa-user-plus"></i><span>Sign up</span></div>
        {%else%}
              <!-- <img src="/static/logo.png" id="logo"> -->
    <!-- <img src="/static/logo.png" onclick="window.location.pathname = '/'" id="logo"> -->
         <a href="/" class="navbar-links">Home</a>
         <br>
         <br>
         <br>
         <br>
    <a href="/chats" class="navbar-links">Chats</a>
         <br>
         <br>
         <br>
         <br>
    <a href="/favorites" class="navbar-links">Favorites</a>
         <br>
         <br>
         <br>
         <br>
    <div class="new-listing-btn" onclick="window.location.href = '/new-listing'"><i class="fas fa-plus-circle"></i><span>New Listing</span></div>
    <!-- <img onclick="$('#user-opts').toggle()"id="pfp" src="https://api-private.atlassian.com/users/aa7543e682dff486562017fe2fedc6c0/avatar">  -->
           <img  onclick="window.location.href = '/user/{{username}}'" id="pfp" src="/static/pfps/{{username}}.jpg?r={{r}}" onerror="if (this.src != 'https://api-private.atlassian.com/users/aa7543e682dff486562017fe2fedc6c0/avatar') this.src = 'https://api-private.atlassian.com/users/aa7543e682dff486562017fe2fedc6c0/avatar';">
    

    {%endif%}

      </div>






    <div class="search-bar"><input oninput="Search(this.value)" autocomplete="on" placeholder="Search Sellio..."type="text"/><div id="search-btn"><i class="fas fa-search"></i></div></div>

    <div class="component-selection" style="display:block">
	<p>What type of component are you looking for ?</p>

	<div id="component-list">
		<div class="component"><div style="background-color:#FF9A02" class="icon"></div> <span>CPU</span></div>
		<div class="component"><div style="background-color:#5498FF" class="icon"></div> <span>Storage</span></div>
		<div class="component"><div style="background-color:#68E4FF" class="icon"></div> <span>CPU cooler</span></div>
		<div class="component"><div style="background-color:#FFF500" class="icon"></div> <span>GPU</span></div>
		<div class="component"><div style="background-color:#FF6868" class="icon"></div> <span>Motherboard</span></div>
		<div class="component"><div style="background-color:#4F5D75" class="icon"></div> <span>Power Supply</span></div>
		<div class="component"><div style="background-color:#80FF54" class="icon"></div> <span>Memory</span></div>
		<div class="component"><div style="background-color:#27282F" class="icon"></div> <span>Case</span></div>
	</div>

  <!-- #region ITEM DIV EXAMPLE-->
    <!-- <div class="item">
      <img src="https://images.unsplash.com/photo-1542978709-19c95dc3bc7e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmFtJTIwbWVtb3J5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80">
      <p id="title">4GB ram</p>
      <p id="price">3,500 EGP</p>

    </div> -->
  <!-- #endregion -->

  <div id="search-results-grid" style="display: none">
        
  </div>

    </div>


    <div id="search-res" style="display: none">
      

      <!-- 
        <div class="item-listing">
        <img src="https://images.unsplash.com/photo-1542978709-19c95dc3bc7e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1374&q=80">
        <h3>4GB ram</h3>
        <br>
        <p>$3,500</p>
      </div>
     -->
  
     

    </div>
{%endblock%}