{%extends "base.html"%}

{%block head%}
<script src="/static/js/listing.js"></script>
<link rel="stylesheet" href="/static/css/listing.css">
<link rel="stylesheet" href="/static/css/index.css">
{%endblock%}

{%block navbar%} 
    {%if not logged%}
          <a href="/" class="navbar-links">Home</a>
          <a onclick="ShowLogin()"class="navbar-links">Login</a>
          <div class="new-listing-btn" onclick="ShowAuth()"><i class="fas fa-user-plus"></i><span>Sign up</span></div>
          {%else%}
           <a href="/" class="navbar-links">Home</a>
      <a href="/chats" class="navbar-links">Chats</a>
      <a href="/favorites" class="navbar-links">Favorites</a>
      <div class="new-listing-btn" onclick="window.location.href = '/new-listing'"><i class="fas fa-plus-circle"></i><span>New Listing</span></div>
      <img onclick="$('#user-opts').toggle()"id="pfp" src="https://api-private.atlassian.com/users/aa7543e682dff486562017fe2fedc6c0/avatar"> 
      <div id="user-opts" style="display:none">
        <h3 id="user-name">Logged as {{username}}</h3>
        <div class="options"><i class="fas fa-user-circle"></i> Profile</div>
        <div class="options"><i class="fas fa-cog"></i> Settings</div>
        <div class="options"  onclick="window.location.href = '/logout'"><i class="fas fa-sign-out-alt"></i> <span style="color: #FF6868;">Log out</span></div>
      </div>
          {%endif%}
    {%endblock%}

{%block content%}
      <div id="listing-container">

            <div id="title">{{listing["title"]}}</div>
            <div id="item-imgs">
                  <img src="/static/listing_images/{{listing['id']}}/0.{{listing['imageType']}}">
            </div>
            <div id="user-div">
                  <img src="https://api-private.atlassian.com/users/aa7543e682dff486562017fe2fedc6c0/avatar">
                  <h3 onclick="window.location.href = '/user/' + `{{listing['owner']}}`">{{listing["owner"]}}</h3>
                  <i class="fas fa-phone-alt"></i> <span>01234567898</span>
            </div>
            <h2>
                  {{listing["description"]}}
            </h2>
            
            <h3 id="price">{{listing["price"]}}</h3> 
            <h3 id="condition">{{listing["condition"].upper()}}</h3>
      
      
            <div id="message-btn"><i class="fas fa-comment-dots"></i> Message</div>
      </div>
      
{%endblock%}