{% extends "base.html"%}

{%block head%}
<link rel="stylesheet" href="static/css/index.css">
<link rel="stylesheet" href="static/css/chats.css">
<script>
	var chats =  {{chats|safe}}
	var accName = "{{username}}"
</script>
<script src="static/js/chats.js"></script>
<script src="static/js/index.js"></script>
{%endblock%}

{%block page%} Chats {%endblock%}

{%block navbar%}

<img src="/static/logo.png" onclick="window.location.pathname = '/'" id="logo">
 <a href="/" class="navbar-links">Home</a>
       <!-- <img src="/static/logo.png" id="logo"> -->
      <a href="/chats" class="navbar-links">Chats</a>
      <a href="/favorites" class="navbar-links">Favorites</a>
      <div class="new-listing-btn" onclick="window.location.href = '/new-listing'"><i class="fas fa-plus-circle"></i><span>New Listing</span></div>
      <!-- <img onclick="$('#user-opts').toggle()"id="pfp" src="https://api-private.atlassian.com/users/aa7543e682dff486562017fe2fedc6c0/avatar">  -->
                   <img  onclick="$('#user-opts').toggle()" id="pfp" src="/static/pfps/{{username}}.jpg?r={{r}}" onerror="if (this.src != 'https://api-private.atlassian.com/users/aa7543e682dff486562017fe2fedc6c0/avatar') this.src = 'https://api-private.atlassian.com/users/aa7543e682dff486562017fe2fedc6c0/avatar';">
      <div id="user-opts" style="display:none">
        <h3 id="user-name">Logged as {{username}}</h3>
        <div class="options" onclick="window.location.href = '/user/{{username}}'"><i class="fas fa-user-circle"></i> Profile</div>
        <div class="options" onclick="window.location.href = '/about'"><i class="fas fa-info-circle"></i><span style="margin-left: 30px;"> About Sellio </span></div>
        <div class="options"  onclick="window.location.href = '/logout'"><i class="fas fa-sign-out-alt"></i> <span style="color: #FF6868;">Log out</span></div>
      </div>
  <i class="fas fa-bars" style="display: none;" onclick="BringUpMobileNavBar()"></i>

      {%endblock%}
      {%block content%}
      <div id="mobile-nav">
{%if not logged%}
         <!-- <img src="/static/logo.png" id="logo"> -->
    <img src="/static/logo.png" onclick="window.location.pathname = '/'" id="logo">
        <a href="/" class="navbar-links">Home</a>
        <!-- <br>
        <br> -->
        <a onclick="ShowLogin()"class="navbar-links">Login</a>
        <div class="new-listing-btn" onclick="ShowAuth()"><i class="fas fa-user-plus"></i><span>Sign up</span></div>
        {%else%}
              <!-- <img src="/static/logo.png" id="logo"> -->
    <!-- <img src="/static/logo.png" onclick="window.location.pathname = '/'" id="logo"> -->
         <a href="/" class="navbar-links">Home</a>
         <!-- <br>
         <br>
         <br>
         <br> -->
    <a href="/chats" class="navbar-links">Chats</a>
         <!-- <br>
         <br>
         <br>
         <br> -->
    <a href="/favorites" class="navbar-links">Favorites</a>
         <!-- <br>
         <br>
         <br>
         <br> -->
    <div class="new-listing-btn" onclick="window.location.href = '/new-listing'"><i class="fas fa-plus-circle"></i><span>New Listing</span></div>
    <!-- <img onclick="$('#user-opts').toggle()"id="pfp" src="https://api-private.atlassian.com/users/aa7543e682dff486562017fe2fedc6c0/avatar">  -->
     <img  onclick="$('#user-opts').show();$(document).mouseup(function(e) {var container = $('#user-opts');if (!container.is(e.target) && container.has(e.target).length === 0) {container.hide()}});" id="pfp" src="/static/pfps/{{username}}.jpg?r={{r}}" onerror="if (this.src != 'https://api-private.atlassian.com/users/aa7543e682dff486562017fe2fedc6c0/avatar') this.src = 'https://api-private.atlassian.com/users/aa7543e682dff486562017fe2fedc6c0/avatar';">
    

    {%endif%}

      </div>
      
	<!-- <h2>Chats</h2> -->

	<h3 id="desktop-only-warning">To use Chats, open Sellio on a desktop.<br><i class="fas fa-desktop"></i> <br> <a href="/">Home</a></h3>
	<div id="container">
		<div id="contact-list">
			{%for contact in chats%}
			<div class="contact" id="{{contact}}" onclick="loadMessages('{{contact}}')">
				<img src="/static/pfps/{{contact}}.jpg" onerror="if (this.src != 'https://api-private.atlassian.com/users/aa7543e682dff486562017fe2fedc6c0/avatar') this.src = 'https://api-private.atlassian.com/users/aa7543e682dff486562017fe2fedc6c0/avatar';">
				<h3>{{contact}}</h3>
			</div>
			{%endfor%}
			{%if chats|length == 0%}
			<center><h4>No chats yet.</h4></center>
			{%endif%}
			
		</div>
          <div style="display:none" id="mobile-user-div">
               <center><i class="fas fa-user-friends" onclick="ShowMobileContacts()"></i> <h3>uesrname</h3></center>
          </div>
		<div id="messages-container">
			<!-- <div class="message-me"><p>hello</p></div>
			<div class="message-other"><p>hello</p></div>
			 -->
	
		

		</div>
		<div style="display:none" id="send-message-container">
			<input autocomplete="off" type="text" id="message-input" placeholder="Send message...">
			<i class="fas fa-paper-plane" onclick="sendMessage($('#message-input').val())"></i>

		</div>
	</div>
{%endblock%}
